@font-face {
	font-family: 'Vendome';
	src: url(../fonts/VendomeCondTwo-Regular.ttf);
}

@font-face {
	font-family: 'Mana';
	src: url(../fonts/manaspc.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(#361901 765px, #896d56);
    font-family: 'Mana', Arial, sans-serif;
    color: #fff;
    -webkit-text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
	-webkit-transform-origin: top center;
	        transform-origin: top center;
}

#loading-container {
    position: fixed;
    display: table;
    width: 100%;
    height: 100%;
    background-color: #dbe8ff;
    z-index: 7;
 }
 
#loading {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #367588;
    font: bold 42px Arial, sans-serif;
    text-shadow: none;
}

.fadein {
    -webkit-transition: opacity 2s;
    transition: opacity 2s; 
    opacity: 1;
}

.fadeout {
    -webkit-transition: opacity 2s;
    transition: opacity 2s; 
    opacity: 0;
}

#loading p {
    margin-bottom: 50px;
}

#loading-image {
    height: 200px;
    width: 200px;
}

#mobile-notice {
    display: none;
    position: fixed;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 20px;
    color: #000;
    font: bold 16px Arial, sans-serif;
    text-shadow: none;
}

#mobile-notice span {
    text-align: justify;
}

#game {
    background: #dbe8ff url(../images/wallpaper.png) repeat 0 0;
    position: relative;
    z-index: 0;
    height: 755px;
    -webkit-box-shadow: inset 0px -10px 15px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px -10px 15px 0px rgba(0,0,0,0.75);
}

#gitlab {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    text-decoration: none;
    font: bold 14px Arial, sans-serif;
    color: #777;
    text-shadow: 0px 1px 0px #fff;
}

#gitlab:hover {
    color: #e24329;
}

#gitlab::before {
    content: '';
    position: absolute;
    top: -122px;
    left: -122px;
    height: 240px;
    width: 240px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background:#ddd;
    -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,0.75);
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.75);
}

#gitlab:hover::before {
    left: -120px;
    top: -120px;
}

#gitlab span {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 10px;
    left: 10px;
    width: 70px;
    height: 85px;
    background: transparent url(../images/gitlab.png) no-repeat 0 20px;
}

#postit {
    background: transparent url(../images/postit.png) no-repeat 0 0;
    font: bold 16px Arial, sans-serif;
    text-shadow: none;
    color: #313335;
    position: absolute;
    text-align: center;
    padding-top: 75px;
    top: 100px;
    right: 50px;
    width: 230px;
    height: 243px;
}

#postit:hover {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
}

#postit img {
    margin: 10px;
    width: 60px;
    height: 80px;
}

#controller {
    background: transparent url(../images/snes-controller.png) no-repeat 0 0;
    position: absolute;
    height: 197px;
    width: 350px;
    top: 764px;
    left: 10px;
}

#controller.connected {
    -webkit-filter: contrast(150%) brightness(150%);
            filter: contrast(150%) brightness(150%);
}

@-webkit-keyframes jump {
    0% { top: 740px; }
    50% { top: 730px; }
    100% { top: 740px; }
}
@keyframes jump {
    0% { top: 740px; }
    50% { top: 730px; }
    100% { top: 740px; }
}
#rabite {
    background: transparent url(../images/rabite.png) no-repeat 0 0;
    position: absolute;
    height: 188px;
    width: 206px;
    top: 740px;
    right: 50px;
    -webkit-animation: jump 1.2s infinite linear;
            animation: jump 1.2s infinite linear;
}

#tv {
    position: relative;
    background: transparent url(../images/tv.png) no-repeat center center;
    width: 1303px;
    height: 940px;
    margin: 0 auto;
    left:0;
    right:0;
}

#screen {
    position: relative;
    z-index: -1;
    background: #000;
    width: 840px;
    height: 700px;
    top: 80px;
    left: 104px;
}

#screen.noise {
    background: #000 url(../images/noise.gif) repeat 0 0;
}

#title_screen {
    background: transparent url(../images/sprites/title-screen.png) no-repeat center center;
    position: absolute;
    width: 800px;
    height: 640px;
    margin: 0 auto;
    top: 30px;
    left: 20px;
    text-align: center;
    opacity: 0;
}

#title_screen.turn_on {
    -webkit-transition: opacity 1.2s ease-in;
    transition: opacity 1.2s ease-in;
    -webkit-box-shadow: inset 0px 0px 70px 50px rgba(0,0,0,0.75);
            box-shadow: inset 0px 0px 70px 50px rgba(0,0,0,0.75);
    opacity: 1;
}

#title_screen .title {
    position: relative;
    display: block;
    font: normal 90px 'Vendome', Arial, sans-serif;
    color: #ffce00;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    top: 25%;
}

@-webkit-keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
#title_screen .start_txt {
    position: relative;
    display: block;
    font-size: 20px;
    top: 50%;
    -webkit-animation: blink 1.7s linear infinite;
            animation: blink 1.7s linear infinite;
}

#title_screen .footer {
    position: relative;
    display: block;
    font-size: 10px;
    top: 70%;
}

#viewport {
    display: table;
    position: absolute;
    overflow: hidden;
    background: transparent url(../images/sprites/background.png) repeat 0 0;
    width: 800px;
    height: 640px;
    margin: 0 auto;
    top: 30px;
    left: 20px;
    visibility: hidden;
}

#viewport.game_paused::after {
    content: 'PAUSE';
    text-align: center;
    z-index: 6;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#viewport.game_over::after {
    content: 'GAME OVER';
    text-align: center;
    z-index: 6;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: 100%;
    width: 100%;
    background: #000;
}

#commands {
    position: relative;
    top: -226px;
    left: 1042px;
    width: 40px;
    height: 275px;
}

@-webkit-keyframes glow {
    to {
        -webkit-box-shadow: 0 0 5px #ffdd1b, 0 0 10px #ffdd1b, 0 0 15px #ffdd1b, 0 0 20px #fff,
                    inset 0 0 5px #ffdd1b, 0 0 10px #ffdd1b, 0 0 15px #ffdd1b, 0 0 20px #fff;
                box-shadow: 0 0 5px #ffdd1b, 0 0 10px #ffdd1b, 0 0 15px #ffdd1b, 0 0 20px #fff,
                    inset 0 0 5px #ffdd1b, 0 0 10px #ffdd1b, 0 0 15px #ffdd1b, 0 0 20px #fff;
    }
}
@keyframes glow {
    to {
        -webkit-box-shadow: 0 0 5px #ffdd1b, 0 0 10px #ffdd1b, 0 0 15px #ffdd1b, 0 0 20px #fff,
                    inset 0 0 5px #ffdd1b, 0 0 10px #ffdd1b, 0 0 15px #ffdd1b, 0 0 20px #fff;
                box-shadow: 0 0 5px #ffdd1b, 0 0 10px #ffdd1b, 0 0 15px #ffdd1b, 0 0 20px #fff,
                    inset 0 0 5px #ffdd1b, 0 0 10px #ffdd1b, 0 0 15px #ffdd1b, 0 0 20px #fff;
    }
}

#switch {
    display: block;
    position: relative;
    left: 1084px;
    top: -381px;
    width: 163px;
    height: 163px;
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
}
#switch::after {
    content: 'START';
    display: block;
    position: absolute;
    top: 64px;
    left: 34px;
    font: bold 28px Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: none;
}

#commands li {
    position: relative;
    border-radius: 14px;
    width: 14px;
    height: 14px;
    background: #d9d3bf;
    list-style-type: none;
    -webkit-animation: glow 1s infinite alternate;
            animation: glow 1s infinite alternate;
    margin: 45px 16px;
}

#commands li.enabled {
    background: #f00;
}

#switch span, #commands li span {
    visibility: hidden;
    width: 180px;
    background-color: #000;
    color: #fff;
    font: bold 14px/16px Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -10px;
    left: 20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

#switch:hover span, #commands li:hover span {
    visibility: visible;
}

#commands li:hover {
    cursor: pointer;
}

#commands li:first-child {
    margin-top: 18px;
}

#commands li:last-child {
    margin-bottom: 18px;
}

@-webkit-keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}
.crt::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    -webkit-animation: flicker 0.15s infinite;
            animation: flicker 0.15s infinite;
}
.crt::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(18, 16, 16, 0)), color-stop(50%, rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.06)), color-stop(rgba(0, 255, 0, 0.02)), to(rgba(0, 0, 255, 0.06)));
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 5;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.visible {
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s; 
    opacity: 1;
}

.hidden {
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s; 
    opacity: 0;
}

.box {
    position: absolute;
    z-index: 4;
    display: inline-block;
    background: transparent url(../images/sprites/box_bg.png) round 0 0;
    border-style: solid;
    border-width: 7px;
   -o-border-image: url(../images/sprites/frame.png) 7 stretch;
   border-image: url(../images/sprites/frame.png) 7 / 7px stretch;
    overflow: hidden;
}

#stats {
    position: absolute;
    right: 110px;
    top: 15px;
    z-index: 4;
}

#lifebar {
    display: inline-block;
    width: 60px;
    height: 21px;
    line-height: 11px;
    padding: 6px 2px;
}

#lifebar .life {
    display: inline-block;
    background: transparent url(../images/sprites/heart.png) round 0 0;
    width: 10px;
    height: 9px;
    margin: 0 2px 0 0;
}

#score {
    display: inline-block;
    text-align: right;
    width: 73px;
    height: 20px;
    line-height: 24px;
    padding: 0 2px;
    overflow: hidden;
    direction: rtl;
}

#info {
    text-align: justify;
    left:0;
    right:0;
    margin: 100px auto;
    padding: 10px;
    width: 600px;
    font-size: 18px;
    line-height: 22px;
}

#info a {
    text-decoration: none;
    color: #fff;
}

#info h2 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0 20px 0;
}

#info ul {
    float: left;
}

#info ul li {
    margin: 10px 0 20px 20px;
    list-style: none;
    line-height: 34px;
    padding-left: 40px;
}

#info ul li.js {
    background: url(../images/sprites/techs/javascript.png) no-repeat left top;
}

#info ul li.php {
    background: url(../images/sprites/techs/php.png) no-repeat left top;
}

#info ul li.ng {
    background: url(../images/sprites/techs/angular.png) no-repeat left top;
}

#info ul li.mysql {
    background: url(../images/sprites/techs/mysql.png) no-repeat left top;
}

#info ul li.mongo {
    background: url(../images/sprites/techs/mongo.png) no-repeat left top;
}

#info ul li.node {
    background: url(../images/sprites/techs/node.png) no-repeat left top;
}

#info ul li.jquery {
    background: url(../images/sprites/techs/jquery.png) no-repeat left top;
}

#info ul li.bootstrap {
    background: url(../images/sprites/techs/bootstrap.png) no-repeat left top;
}

#info ul li.html {
    background: url(../images/sprites/techs/html5.png) no-repeat left top;
}

#info ul li.css {
    background: url(../images/sprites/techs/css3.png) no-repeat left top;
}

#info ul li.git {
    background: url(../images/sprites/techs/git.png) no-repeat left top;
}

#info ul li.photoshop {
    background: url(../images/sprites/techs/photoshop.png) no-repeat left top;
}

#info ul li.datavance {
    background: url(../images/sprites/companies/datavance.png) no-repeat left top;
}

#info ul li.habiteo {
    background: url(../images/sprites/companies/habiteo.png) no-repeat left top;
}

#info ul li.netvendeur {
    background: url(../images/sprites/companies/netvendeur.png) no-repeat left top;
}

#info ul li.nexway {
    background: url(../images/sprites/companies/nexway.png) no-repeat left top;
}

#info ul li.senzo {
    background: url(../images/sprites/companies/senzo.png) no-repeat left top;
}

#info ul li.solocal {
    background: url(../images/sprites/companies/solocal.png) no-repeat left top;
}

#info ul li.sopra {
    background: url(../images/sprites/companies/sopra.png) no-repeat left top;
}

#info ul li.ifocop {
    background: url(../images/sprites/studies/ifocop.png) no-repeat left top;
}

#info ul li.teesside {
    background: url(../images/sprites/studies/teesside.png) no-repeat left top;
}

#info ul li.iut {
    background: url(../images/sprites/studies/iut.png) no-repeat left top;
}

#info ul li.guitar {
    background: url(../images/sprites/hobbies/guitar.png) no-repeat left top;
}

#info ul li.running {
    background: url(../images/sprites/hobbies/running.png) no-repeat left top;
}

#info ul li.travel {
    background: url(../images/sprites/hobbies/travel.png) no-repeat left top;
}

#info ul li.address {
    background: url(../images/sprites/contacts/address.png) no-repeat left top;
}

#info ul li.email {
    background: url(../images/sprites/contacts/email.png) no-repeat left top;
}

#info ul li.phone {
    background: url(../images/sprites/contacts/phone.png) no-repeat left top;
}

#info ul li.linkedin {
    background: url(../images/sprites/contacts/linkedin.png) no-repeat left top;
}

#info ul li.gitlab {
    background: url(../images/sprites/contacts/gitlab.png) no-repeat left top;
}

#info p {
    margin-bottom: 10px;
}

#info img {
    float: left;
    margin-right: 8px;
    border: 2px solid #000;
    border-radius: 8px;
    width: 70px;
    height: 96px;
}

#character {
    position: absolute;
    z-index: 3;
    background: transparent url(../images/sprites/character.png) no-repeat 0 -89px;
    width: 28px;
    height: 44px;
    left: 50%;
    top: 50%;
}

#character_hitbox {
    position: absolute;
    /* background: #f00; debug */
    width: 12px;
    height: 12px;
    left: 8px;
    bottom: 0;
}

.chest {
    position: absolute;
    z-index: 2;
	background: url(../images/sprites/chest.png) no-repeat 0 -7px;
	width: 20px;
    height: 27px;
    margin-top: 3px;
}

.chest.open {
    background: url(../images/sprites/chest.png) no-repeat -24px 0;
}

@-webkit-keyframes standing {
    to { background-position-x: -56px; }
}

@keyframes standing {
    to { background-position-x: -56px; }
}
.enemy {
    position: absolute;
    z-index: 2;
    background: transparent url(../images/sprites/enemy.png) no-repeat 0 0;
    -webkit-animation: standing .8s steps(2) infinite;
            animation: standing .8s steps(2) infinite;
    width: 28px;
    height: 24px;
    padding-bottom: 8px;
}

@-webkit-keyframes moving {
    to { background-position-x: -140px ; }
}

@keyframes moving {
    to { background-position-x: -140px ; }
}
.enemy.right {
    -webkit-animation: moving .8s steps(5) infinite;
            animation: moving .8s steps(5) infinite;
}
.enemy.left {
    -webkit-animation: moving .8s steps(5) infinite;
            animation: moving .8s steps(5) infinite;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
            filter: FlipH;
    -ms-filter: 'FlipH';
}

@-webkit-keyframes attacking {
    to { background-position-x: -196px; }
}

@keyframes attacking {
    to { background-position-x: -196px; }
}
.enemy.attack, .enemy.new.attack {
    background-position-x: -140px;
    -webkit-animation: attacking .8s steps(2) infinite;
            animation: attacking .8s steps(2) infinite;
}

@-webkit-keyframes burning {
    to { background-position-x: -144px; }
}

@keyframes burning {
    to { background-position-x: -144px; }
}
.enemy .burn {
    position: absolute;
    z-index: 3;
    top: -25px;
    left: -10px;
    background: transparent url(../images/sprites/burn.png) no-repeat 0 0;
    width: 48px;
    height: 49px;
    opacity: 0.6;
    -webkit-animation: burning .6s steps(3) infinite alternate;
            animation: burning .6s steps(3) infinite alternate;
}

@-webkit-keyframes dying { 
    0% { -webkit-filter:invert(100%); filter:invert(100%); }
    25% { -webkit-filter:invert(0%); filter:invert(0%); }
    50% { -webkit-filter:invert(100%); filter:invert(100%); opacity: 1; }
    75% { -webkit-filter:invert(0%); filter:invert(0%); }
    100% { -webkit-filter:invert(100%); filter:invert(100%); opacity: 0; }
}

@keyframes dying { 
    0% { -webkit-filter:invert(100%); filter:invert(100%); }
    25% { -webkit-filter:invert(0%); filter:invert(0%); }
    50% { -webkit-filter:invert(100%); filter:invert(100%); opacity: 1; }
    75% { -webkit-filter:invert(0%); filter:invert(0%); }
    100% { -webkit-filter:invert(100%); filter:invert(100%); opacity: 0; }
}
.enemy.die, .enemy.new.die {
    -webkit-animation: dying .8s normal forwards linear;
            animation: dying .8s normal forwards linear;
}

@-webkit-keyframes reborn { 
    0% { opacity: 0; }
    10% { opacity: 0.7; }
    20% { opacity: 0.3; }
    30% { opacity: 0.7; }
    50% { opacity: 0.3; }
    60% { opacity: 1; -webkit-filter:brightness(300%); filter:brightness(300%); }
    70% { opacity: 1; -webkit-filter:brightness(200%); filter:brightness(200%); }
    80% { opacity: 1; -webkit-filter:brightness(300%); filter:brightness(300%); }
    80% { opacity: 1; -webkit-filter:brightness(200%); filter:brightness(200%); }
    100% { opacity: 1; -webkit-filter:brightness(100%); filter:brightness(100%); }
}

@keyframes reborn { 
    0% { opacity: 0; }
    10% { opacity: 0.7; }
    20% { opacity: 0.3; }
    30% { opacity: 0.7; }
    50% { opacity: 0.3; }
    60% { opacity: 1; -webkit-filter:brightness(300%); filter:brightness(300%); }
    70% { opacity: 1; -webkit-filter:brightness(200%); filter:brightness(200%); }
    80% { opacity: 1; -webkit-filter:brightness(300%); filter:brightness(300%); }
    80% { opacity: 1; -webkit-filter:brightness(200%); filter:brightness(200%); }
    100% { opacity: 1; -webkit-filter:brightness(100%); filter:brightness(100%); }
}
.enemy.new {
    -webkit-animation: moving .8s steps(5) infinite, reborn 2s normal forwards linear;
    animation: moving .8s steps(5) infinite, reborn 2s normal forwards linear;
}

.big_flower_yellow {
    position: absolute;
    z-index: 1;
    background: transparent url(../images/sprites/items.png) no-repeat -16px 0;
    width: 16px;
    height: 16px;
}

.small_flower_yellow {
    position: absolute;
    z-index: 1;
    background: transparent url(../images/sprites/items.png) no-repeat -32px 0;
    width: 16px;
    height: 16px;
}

.medium_flower_pink {
    position: absolute;
    z-index: 1;
    background: transparent url(../images/sprites/items.png) no-repeat -48px 0;
    width: 16px;
    height: 16px;
}

.medium_flower_yellow {
    position: absolute;
    z-index: 1;
    background: transparent url(../images/sprites/items.png) no-repeat 0 -16px;
    width: 16px;
    height: 16px;
}

.big_flower_orange {
    position: absolute;
    z-index: 1;
    background: transparent url(../images/sprites/items.png) no-repeat -16px -16px;
    width: 16px;
    height: 16px;
}

.grey_stone {
    position: absolute;
    z-index: 1;
    background: transparent url(../images/sprites/items.png) no-repeat 0 -32px;
    width: 16px;
    height: 16px;
}

.brown_stone {
    position: absolute;
    z-index: 1;
    background: transparent url(../images/sprites/items.png) no-repeat -16px -32px;
    width: 16px;
    height: 16px;
}

.tree {
    position: absolute;
}

.tree_branch_green {
    position: absolute;
    z-index: 3;
    background: transparent url(../images/sprites/items.png) no-repeat -64px 0;
    width: 128px;
    height: 80px;
}

.tree_branch_brown {
    position: absolute;
    z-index: 3;
    background: transparent url(../images/sprites/items.png) no-repeat -192px 0;
    width: 128px;
    height: 80px;
}

.tree_branch_pink {
    position: absolute;
    z-index: 3;
    background: transparent url(../images/sprites/items.png) no-repeat -320px 0;
    width: 128px;
    height: 80px;
}

.tree_trunk {
    position: absolute;
    z-index: 1;
    background: transparent url(../images/sprites/items.png) no-repeat 0 -48px;
    width: 60px;
    height: 32px;
    top: 80px;
    left: 32px;
    /*background: #00f; debug */
}

@-webkit-keyframes fadeinout { 
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeinout { 
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
.fireball {
    position: absolute;
    z-index: 2;
    width: 16px;
    height: 16px;
}

.anim_paused {
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
}

/*** MOVE LEFT ***/
@-webkit-keyframes move_left {
    to { background-position: -140px 0; }
}
@keyframes move_left {
    to { background-position: -140px 0; }
}
@-webkit-keyframes fireball {
    to { background-position: -48px 0; }
}
@keyframes fireball {
    to { background-position: -48px 0; }
}
#character.left {
    background: transparent url(../images/sprites/character.png) no-repeat -1px 0;
    -webkit-animation: move_left .8s steps(5) infinite;
            animation: move_left .8s steps(5) infinite;
}
.fireball.left {
    background: transparent url(../images/sprites/fireball.png) no-repeat 0 0;
    -webkit-animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
            animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    top: 17px;
    left: -16px;
}

/*** MOVE UP LEFT ***/
@-webkit-keyframes move_up_left {
    to { background-position: -140px -309px; }
}
@keyframes move_up_left {
    to { background-position: -140px -309px; }
}
#character.up_left {
    background: transparent url(../images/sprites/character.png) no-repeat 0 -309px;
    -webkit-animation: move_up_left .8s steps(5) infinite;
            animation: move_up_left .8s steps(5) infinite;
}
.fireball.up_left {
    background: transparent url(../images/sprites/fireball.png) no-repeat 0 0;
    -webkit-animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
            animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -2px;
    left: -10px;
}

/*** MOVE UP ***/
@-webkit-keyframes move_up {
    to { background-position: -140px -264px; }
}
@keyframes move_up {
    to { background-position: -140px -264px; }
}
#character.up {
    background: transparent url(../images/sprites/character.png) no-repeat 0 -264px;
    -webkit-animation: move_up .8s steps(5) infinite;
            animation: move_up .8s steps(5) infinite;
}
.fireball.up {
    background: transparent url(../images/sprites/fireball.png) no-repeat 0 0;
    -webkit-animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
            animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    top: -9px;
    left: 12px;
}

/*** MOVE UP RIGHT ***/
@-webkit-keyframes move_up_right {
    to { background-position: -140px -221px; }
}
@keyframes move_up_right {
    to { background-position: -140px -221px; }
}
#character.up_right {
    background: transparent url(../images/sprites/character.png) no-repeat 0 -221px;
    -webkit-animation: move_up_right .8s steps(5) infinite;
            animation: move_up_right .8s steps(5) infinite;
}
.fireball.up_right {
    background: transparent url(../images/sprites/fireball.png) no-repeat 0 0;
    -webkit-animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
            animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -2px;
    left: 22px;
}

/*** MOVE RIGHT ***/
@-webkit-keyframes move_right {
    to { background-position: -140px -177px; }
}
@keyframes move_right {
    to { background-position: -140px -177px; }
}
#character.right {
    background: transparent url(../images/sprites/character.png) no-repeat 0 -177px;
    -webkit-animation: move_right .8s steps(5) infinite;
            animation: move_right .8s steps(5) infinite;
}
.fireball.right {
    background: transparent url(../images/sprites/fireball.png) no-repeat 0 0;
    -webkit-animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
            animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
    top: 16px;
    left: 28px;
}

/*** MOVE DOWN RIGHT ***/
@-webkit-keyframes move_down_right {
    to { background-position: -140px -133px; }
}
@keyframes move_down_right {
    to { background-position: -140px -133px; }
}
#character.down_right {
    background: transparent url(../images/sprites/character.png) no-repeat 0 -133px;
    -webkit-animation: move_down_right .8s steps(5) infinite;
            animation: move_down_right .8s steps(5) infinite;
}
.fireball.down_right {
    background: transparent url(../images/sprites/fireball.png) no-repeat 0 0;
    -webkit-animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
            animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 27px;
    left: 16px;
}

/*** MOVE DOWN ***/
@-webkit-keyframes move_down {
    to { background-position: -140px -89px; }
}
@keyframes move_down {
    to { background-position: -140px -89px; }
}
#character.down {
    background: transparent url(../images/sprites/character.png) no-repeat 0 -89px;
    -webkit-animation: move_down .8s steps(5) infinite;
            animation: move_down .8s steps(5) infinite;
}
.fireball.down {
    background: transparent url(../images/sprites/fireball.png) no-repeat 0 0;
    -webkit-animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
            animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 30px;
    left: 3px;
}

/*** MOVE DOWN LEFT ***/
@-webkit-keyframes move_down_left {
    to { background-position: -140px -45px; }
}
@keyframes move_down_left {
    to { background-position: -140px -45px; }
}
#character.down_left {
    background: transparent url(../images/sprites/character.png) no-repeat 0 -45px;
    -webkit-animation: move_down_left .8s steps(5) infinite;
            animation: move_down_left .8s steps(5) infinite;
}
.fireball.down_left {
    background: transparent url(../images/sprites/fireball.png) no-repeat 0 0;
    -webkit-animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
            animation: fadeinout 2s linear, fireball .8s steps(3) infinite;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 27px;
    left: -4px;
}