* {
    margin: 0;
    padding: 0;
}

#ie8lower {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #dbe8ff;
    z-index: 8;
}

#ie8lower a {
    position: relative;
    top: 20%;
}
